<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="forms.css">
    
    <title>MyHealth</title>

</head>

<body>
    <header>
        <div class="logo">
            <a href="#">
                <span>{{message}}</span>
            </a>
        </div>
    </header>
    <div id="content">
        <form action="login.html" method="post">
            <div class="labels">
                <label for="nome">Nome Completo</label>
                <label for="radios">Sexo</label>
                <label for="data">Data de Nascimento</label>
                <label for="email">E-mail</label>
                <label for="senha">Senha</label>
                <label for="senha2">Repetir Senha</label>
            </div>
            <div class="inputs">
                <input type="text" id="nome">
                <div class="radios">
                    <input type="radio" name="sexo" id="male" value="masculino" class="radio_text"><label
                        for="male">masculino</label>
                    <input type="radio" name="sexo" id="female" value="feminino" class="radio_text"><label
                        for="female">feminino</label>
                </div>
                <input type="date" name="data" id="data ">
                <input type="email" name="" id="email">
                <input type="password" name="" id="senha">
                <input type="password" id="senha2">
            </div>
        </form>
        <a href="#"><button id="realizar-cadastro" type="submit">Cadastrar</button></a>
    </div>
</body>

</html>
<style>
    *{
    --primary_color :#419ED7;
    --index_header_color :#8FE1D9;
    --header_color :#C1E7E3;
    --background_color :#9DC5C0;
    --font :'Averia Libre';
    --button_color :#49B976;

    font-family: var(--font);
    color: var(--primary_color);
}
body{
    margin: 0;
    background-color: var(--background_color);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    background-color: var(--header_color);
    padding-right: 8px;
    height: 58px;
}
.logo{
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px ;
}
.logo>a{
    margin-left: inherit;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    font-size: inherit;
    text-decoration: none;
}
button{
    background-color: var(--primary_color);
    color: #fff;
    border-style: solid var(--primary_color);
    min-height: 25px;
    padding: 8px 24px;
    /*font-family: var(--font);*/
}
.buttons{
    margin-right: 12px;
}
input{
    font-size: 36px;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: row;
}
form>div{
    display: flex;
    flex-direction: column;
    padding: 4px;
} 
.labels{
    align-items: flex-end;
}
label{
    color: #fff;
    font-size: 36px;
    margin: 12px;
}
label[for=imagem]{
    color: #fff;
    font-size: 36px;
    margin: 12px;
    height: 160px;
}
input{
    margin: 10px;
    height: 40px;
    width: 500px;
    border: solid #fff;
}
input#imagem{
    margin: 10px;
    height: 160px;
    width: 500px;
    border: dashed grey;
}
.radios{
    display:inline-flex;
    align-items: center;
}
.radios>input[type=radio]{
    min-width: fit-content;
    min-height: fit-content;
    width: 28px;
    height: 28px;
}
#recover{
    margin-top: 48px;
}
.buttons>a>button{
    background-color: var(--primary_color);
    margin-left: 5px;
}
button{
    background-color: var(--button_color);
    font-size: 24px;
}
button#redbutton{
    background-color: red;

}
body{
    padding-bottom: 18px;
}
</style>